@import "tailwindcss";
#root{
  width: 100%;
}

.mapboxgl-ctrl-bottom-right{
  display: none !important;
  visibility: hidden !important;
}

body {
  max-width: 2400px;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100dvh;
  margin: auto;
  background-color: #F8FAFC;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

button:not(.popup-btn):not(.manhole-popup-btn):not(.btn-view-more) {
  font-size: 16px !important;
  font-weight: 400 !important;
} 

.popup-btn {
  font-size: 36px;
}

.btn-blue,
.btn-blue-outline {
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  width: auto;
  border: 1px solid rgba(30, 154, 176, 1);
  outline: none;
  transition: all 0.3s ease-in-out;
}

.btn-hover:hover {
  border-radius: 0px;
  transform: scale(1.01);
  box-shadow: 0 2px 10px #00000020;
}

.btn-blue {
  background-color: rgba(30, 154, 176, 1);
  color: #fff;
}

.btn-blue-outline {
  background-color: transparent;
  color: #000;
}

.db-popup-container::-webkit-scrollbar{
  width: 0px;
}